extends layout


block content
    div.header
    h1 Create a Photography Website. Establish Your Business.
    p Get all the tools you need to create an eye-catching free photography website and manage your day to day work.
    button Create now
    div.body
    table 
    h2 Leave a Lasting Impression with Your Photography Business
    a(href="http://localhost:3000/") Get Started
    div.footer
