extends layout

block header 
    h1 Create a Photography Website. 
    h1 Establish Your Business.
    pre  
        |Get all the tools you need to create an eye-catching free    
        |photography website and manage your day to day work.
    button Create Now
    .slideshow-container 
        .slide.fade
            img(src="./images/slide1.jpg" alt="slide1")  
            .text By <strong>Sharon Radisch</strong>
            a(href="https://www.wix.com/photography/website") Visit Website
        .slide.fade
            img(src="./images/slide1.jpg" alt="slide1")  
            .text By <strong>Sharon Radisch</strong>
            a(href="https://www.wix.com/photography/website") Visit Website

block section 
    //- h2 Leave a Lasting Impression with Your Photography Business
    //- a(href="http://localhost:3000/") Get Started
block footer
    //- h1 
    //-     |Build an Unforgettable Free     
    //-     |Photography Portfolio
    //- button Get Started 
