extends layout

block header
    .container
     .row
      .col.text-center.header
       h1 Create a Photography Website. Establish Your Business.
       p Get all the tools you need to create an eye-catching free photography website and manage your day to day work.
       a.btn.btn-dark.btn-lg(href="#" role="button") Create Now
     .row 
      .col-6
       h3 Leave a Lasting Impression with Your Photography Business
       a.link-dark(href="#") Get Started
        img.icon(src="./images/rightarrow.jpg", alt="right arrow")  
      .col-6 
       p Build a memorable photography website with designer-made templates and a variety of dedicated features.
block section
    .container-fluid
     .row
      .col.text-center
       h1 Manage It All with Wix Photography

     .row.row-cols-2 
      .col-6
       h2 Highlight Your Best Work with a Photography Portfolio
       p Impress clients with a high-res portfolio. Brand your work with watermarks, make them downloadable, shareable for social media and more.
       a.link-dark(href="#") Get Started
        img.icon(src="./images/rightarrow.jpg", alt="right arrow")  
      .col-6
       img.section-image(src="./images/section1.jpg", alt="section 1")
      .col-6 
       img.section-image(src="./images/section2.jpg", alt="section 2")
      .col-6        
       h2 Highlight Your Best Work with a Photography Portfolio
       p Impress clients with a high-res portfolio. Brand your work with watermarks, make them downloadable, shareable for social media and more.
       a.link-dark(href="#") Get Started
        img.icon(src="./images/rightarrow.jpg", alt="right arrow")  
      .col-6 
       h2 Highlight Your Best Work with a Photography Portfolio
       p Impress clients with a high-res portfolio. Brand your work with watermarks, make them downloadable, shareable for social media and more.
       a.link-dark(href="#") Get Started
        img.icon(src="./images/rightarrow.jpg", alt="right arrow")  
      .col-6 
       img.section-image(src="./images/section3.jpg", alt="section 3")
      
     .row 
      .col.text-center
       a.btn.btn-dark.btn-lg(href="#" role="button") Get Started

block  footer
    .footer-tool 
     .container 
      .row.row-cols-2 
       .col
        h1 The Tools Your Photography Business Needs for Success
       .col 
        img(src="./images/footer1.jpg", alt="")
       .col-6
        h3 To Grow: 
        ul.ul-grow 
         li.line1 Boost traffic to your site with advanced
          a(href="#")  SEO tools
         li.line1 Tell your story and attract clients with a
          a(href="#")  blog
         li.line1 Stay in touch with clients using 
          a(href="#") email marketing
         li.line1 Create opportunities for sharing on social media 
         li.line1 Connect your Instagram Feed to attract new followers
       .col-6
        h3 To Manage: 
        ul.ul-grow 
         li.line1 Allow your clients to
          a(href="#")  book sessions online
         li.line1 Send price quotes and manage invoices
         li.line1 
          a(href="#") Collect leads
          span  and chat instantly with potential clients
         li.line1 Accept secured payments for sessions and your art
         li.line1 Out on a shoot? Work on the go with the
          a(href="#")  Wix Owner App
       .col
        p Learn more about creating a 
          a(href="#") portfolio website   
          |with Wix

    .footer-photography
     .container-fluid 
      .row 
       .col 
        h1 Photography Templates Designed with Photographers in Mind
        p Explore These Beautiful Templates For Your Photography Website
        a.btn.btn-dark(href="#" role="button") Explore more Templates 
        a(href="#") Check Out These User-Made Sites
         img.icon(src="./images/rightarrow.jpg", alt="right arrow")

    .footer-find
     .container 
      .row.row-cols-3 
       .col-12.text-center
         h1 Find Your Inspiration with the Wix Photography Blog 
       .col-4
        a(href="#")  
         .card
          img(src="./images/card1.jpg", alt="card 1")
          p Step by Step Guide: How to Create a Complete Photography Website
       .col-4
        a(href="#")  
         .card
          img(src="./images/card1.jpg", alt="card 1")
          p Step by Step Guide: How to Create a Complete Photography Website
       .col-4
        a(href="#")  
         .card
          img(src="./images/card1.jpg", alt="card 1")
          p Step by Step Guide: How to Create a Complete Photography Website
       .col-6.text-center(style="padding: 5em;")
        p Get the Latest Updates, Join Discussions And Learn from Fellow Photographers in the Wix Photography Forum
        a(href="#") Join Now 
         img.icon(src="./images/rightarrow.jpg", alt="right arrow")
    

     
          

