extends layout

block header
    .grid-container 
        .grid-item.header1
            p header 
        .grid-item.header2
            p slide         
        .grid-item.header3
            p content
        .grid-item.header4
            p content
    hr  

block section 
   .grid-container
        .grid-item.item1
            p header
        .grid-item.item2
            p content  
        .grid-item.item3
            p img
        .grid-item.item4  
            p img 
        .grid-item.item5
            p content 
        .grid-item.item6
            p content   
        .grid-item.item7
            p img
        .grid-item.item8
            p button  
        
block footer
    hr
    .grid-container 
        .grid-item.footer1
            p The Tools
        .grid-item.footer2
            p img
        .grid-item.footer3
            p to grow  
        .grid-item.footer4
            p to manage     
        .grid-item.footer5
            p Learn more 
        .grid-item.footer6
            p Photography Templates
        .grid-item.footer7
            p Find Your 
        .grid-item.footer8
        .grid-item.footer9
        .grid-item.footer10
        .grid-item.footer11
        .grid-item.footer12
