extends layout

block header
    .container
     .row.heading-style
      .col-1 
      .col-10
       h1 Create a Photography Website. Establish Your Business.
      .col-1 
     .row 
      .col-6.header-description.text-center.content-style 
       p Get all the tools you need to create an eye-catching free photography website and manage your day to day work.
       a.btn.btn-dark(href="#" role="button") Create Now
     .row 
      .col-4 
       h2 Leave a Lasting Impression with Your Photography Business
       a.header-link(href="") Get Started
        i.fas.fa-arrow-right.righ-arrow
      .col-2
      .col-6.content-style 
       p Build a memorable photography website with designer-made templates and a variety of dedicated features.
       p Showcase your work with a photography portfolio, client galleries and an online photo store.
       p Personalize each client experience with private photo album mini-sites and convenient online bookings.
       p Streamline your work with built-in marketing & business tools so you can make more time for clients.
    hr.solid

block section
    .container-fluid
     .row.heading-section
      .col-4
      .col-4
       h1 Manage It All with Wix Photography
      .col-4
     .row.row-cols-2 
      .col-6.content-section
       h2 Highlight Your Best Work with a Photography Portfolio
       p Impress clients with a high-res portfolio. Brand your work with watermarks, make them downloadable, shareable for social media and more.
       a.section-link(href="#") Get Started
        i.fas.fa-arrow-right.righ-arrow  
      .col-6
       img.section-image(src="./images/section1.jpg", alt="section 1")
      .w-100
      .col-6 
       img.section-image(src="./images/section2.jpg", alt="section 2")
      .col-6.content-section       
       h2 Offer Clients Digital Photo Albums Catered to Their Needs
       p Give a tailor-made experience with custom digital photo albums. Ensure privacy with password-protected websites for each client.
       a.section-link(href="#") Get Started
        i.fas.fa-arrow-right.righ-arrow
      .w-100  
      .col-6.content-section
       h2 Expand Your Business by Selling Photos Online
       p Open a new revenue stream by selling digital and physical prints in the Art Store. Stay in control of your work with digital licensing and right-click protection.
       a.section-link(href="#") Get Started
        i.fas.fa-arrow-right.righ-arrow  
      .col-6 
       img.section-image(src="./images/section3.jpg", alt="section 3")
      
     .row 
      .col.text-center
       a.btn.btn-dark(href="#" role="button") Get Started
    hr.solid

block  footer
    .footer-tool 
     .container 
      .row 
       .col-2
       .col-8.tool-heading
        h1 The Tools Your Photography Business Needs for Success
       .col-2
      .row  
       .col 
        img.tool-image(src="./images/footer1.jpg", alt="")
      hr.footer-solid
      .row.row-cols-2
       .col  
        h3.margin-tool-column To Grow: 
        ul.ul-grow 
         li.line1 Boost traffic to your site with advanced
          a.tool-link(href="#")  SEO tools
         li.line1 Tell your story and attract clients with a
          a.tool-link(href="#")  blog
         li.line1 Stay in touch with clients using 
          a.tool-link(href="#") email marketing
         li.line1 Create opportunities for sharing on social media 
         li.line1 Connect your Instagram Feed to attract new followers
        a.started-tool-link.margin-tool-column(href="#") Get Started
         i.fas.fa-arrow-right.righ-arrow
       .col
        h3.margin-tool-column To Manage: 
        ul.ul-grow 
         li.line1 Allow your clients to
          a.tool-link(href="#")  book sessions online
         li.line1 Send price quotes and manage invoices
         li.line1 
          a.tool-link(href="#") Collect leads
          span  and chat instantly with potential clients
         li.line1 Accept secured payments for sessions and your art
         li.line1 Out on a shoot? Work on the go with the
          a.tool-link(href="#")  Wix Owner App
        a.started-tool-link.margin-tool-column(href="#") Get Started
         i.fas.fa-arrow-right.righ-arrow
      hr.footer-solid
      .row
       .col-3  
       .col-6.portfolio-style
        p Learn more about creating a 
          a.portfolio-link(href="#") portfolio website   
          |with Wix
       .col-3

    .footer-photography
     .container-fluid
      .row
       .col-2 
       .col-8
        h1 Photography Templates Designed with Photographers in Mind
        p Explore These Beautiful Templates For Your Photography Website
       .col-2
      .row
      .row
       .col-4 
       .col-4.photography-footer 
        a.btn.btn-dark(href="#" role="button") Explore Templates
       .col-4
      .row 
       .col.photography-footer 
         a.photography-link(href="#") Check Out These User-Made Sites
          i.fas.fa-arrow-right.righ-arrow 
      
    .footer-find
     .container 
      .row
       .col
       .col-10.heading-find-style
         h1 Find Your Inspiration with the Wix Photography Blog 
       .col
      .row.row-cols-3
       .col
        a.card-link-style(href="#")  
         .card.card-styling
          img(src="./images/card1.jpg", alt="card 1")
          p Step by Step Guide: How to Create a Complete Photography Website
       .col
        a.card-link-style(href="#")  
         .card.card-styling
          img(src="./images/card2.jpg", alt="card 1")
          p 12 Stunning Photography Portfolios Examples
       .col
        a.card-link-style(href="#")  
         .card.card-styling
          img(src="./images/card3.jpg", alt="card 1")
          p Get Inspired by These 20 Outstanding Photography Portfolios
      .row
       .col-3     
       .col-6.col-footer-find
        p Get the Latest Updates, Join Discussions And Learn from Fellow Photographers in the Wix Photography Forum
        a.find-link(href="#") Join Now 
         i.fas.fa-arrow-right.righ-arrow
       .col-3

    .footer-build 
     .container 
      .row
       .col-2
       .col-8.col-build-style 
        h1 Build an Unforgettable Free Photography Portfolio
        a.btn.btn-light.btn-lg(href="#") Get Started
       .col-2   

    

     
          

