doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="./stylesheets/style.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous") 
    title Photography Website | free photography portfolio | Wix.com
body
    block header 
    block section 
    block footer 
foot
    .container
     .row.row-cols-5 
      .col-2 
         h4 PRODUCT
         ul.links-group 
          li.link-item  
           a(href="") Templates
          li.link-item  
           a(href="") Explore
          li.link-item  
           a(href="") Features
          li.link-item  
           a(href="") Website Builder
          li.link-item  
           a(href="") Web Accessibility
          li.link-item  
           a(href="") Velo
          li.link-item  
           a(href="") Wix Playground
          li.link-item  
           a(href="") My Sites
          li.link-item  
           a(href="") Premium Plans
      .col-2 
         h4 COMPANY
         ul.links-group 
          li.link-item  
           a(href="") About Wix
          li.link-item  
           a(href="")  Press Room
          li.link-item  
           a(href="") Investor Relations
          li.link-item  
           a(href="")  Wix Jobs
          li.link-item  
           a(href="") Design Assets
          li.link-item  
           a(href="") Terms of Use
          li.link-item  
           a(href="") App Market Terms
          li.link-item  
           a(href="") Privacy Policy
          li.link-item  
           a(href="")  Accessibility Statement
      .col-2 
         h4 COMMUNITY
         ul.links-group 
          li.link-item  
           a(href="") Wix Blog
          li.link-item  
           a(href="") Wix Marketplace
          li.link-item  
           a(href="") Student Website
          li.link-item  
           a(href="") Wix Encyclopedia
          li.link-item  
           a(href="") Partner Community
      .col-2 
         h4 SUPPORT
         ul.links-group  
          li.link-item  
           a(href="") Support Center
          li.link-item  
           a(href="")  Status Page
      .col-4 
       a.wix-logo(href="https://www.wix.com")
        img(src="./images/wix_logo.jpg", alt="") 
       p Wix.com is a leading cloud-based development platform with millions of users worldwide. We make it easy for everyone to create a beautiful, professional web presence. 
       p Promote your business, showcase your art, set up an online shop or just test out new ideas. The Wix website builder has everything you need to create a fully personalized, high-quality free website.
       p © 2006-2021 Wix.com, Inc
       ul.icon-list 
        li 
         a(href="#")
          i.fab.fa-facebook-f
        li 
         a(href="#")
          i.fab.fa-twitter
        li 
         a(href="#")
          i.fab.fa-youtube
        li 
         a(href="#")
          i.fab.fa-linkedin-in 
        li 
         a(href="#")
          i.fab.fa-instagram    
        li 
         a(href="#")
          i.fab.fa-pinterest-p
       
      
