doctype html
html
  head
    title Photography Website | free photography portfolio | Wix.com
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta(charset="utf-8")
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color" content="#000000")

  body
    block content
  foot



